<div class="container">

  <table class="table">
    <tr>
      <th>Time</th>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
    <%shows.each do |time, series|%>
      <tr>
        <td><%= time %></td>
        <td><%= display_in_calendar(series, "Sunday") %></td>
        <td><%= display_in_calendar(series, "Monday") %></td>
        <td><%= display_in_calendar(series, "Tuesday") %></td>
        <td><%= display_in_calendar(series, "Wednesday") %></td>
        <td><%= display_in_calendar(series, "Thursday") %></td>
        <td><%= display_in_calendar(series, "Friday") %></td>
        <td><%= display_in_calendar(series, "Saturday") %></td>
      </tr>
    <%end%>
  </table>
</div>
</div>
