<div class="container">
  p shows
  <%shows.each do |show|%>
    <p><%= show.title %></p>
    <p><%= show.air_day%>s at <%= show.air_time %></p>
  <%end%>
  <table class="table">
    <tr>
      <th>Time</th>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
    <%shows.each do |show|%>
      <tr>
        <td><%= show.air_time %></td>
        <td><%= show.title if show.air_day == "Sunday" %></td>
        <td><%= show.title if show.air_day == "Monday" %></td>
        <td><%= show.title if show.air_day == "Tuesday" %></td>
        <td><%= show.title if show.air_day == "Wednesday" %></td>
        <td><%= show.title if show.air_day == "Thursday" %></td>
        <td><%= show.title if show.air_day == "Friday" %></td>
        <td><%= show.title if show.air_day == "Saturday" %></td>
      </tr>
    <%end%>
  </table>
</div>
</div>
