<div class="container">
  <h3>Welcome <%= user.name %></h3>
  <h5>Your Shows:</h5>
  <% user.shows.each do |show| %>
    <p><a href="/shows/<%=show.id%>"><%= show.title %> | <%= show.air_day %>'s at <%= show.air_time %></a></p>
  <% end %>


  <p>Favorite Genre: <%= fav_genre %></p>

  <p>Favorite Channel: <%= fav_channel %></p>

  <h6>Based on your likes, we recommend watching:</h6>

  <%= recommendation.title %> | <%= recommendation.air_day %>'s at <%= recommendation.air_time %>

</div>


<a href="/users/<%=user.id%>/calendar">My Calendar</a>
