<div class="container">
  <div class="show-left">
    <h2><%= show.title %></h2>
    <h5><%= show.description %></h5>
    <h6>Watch it on <%= show.channel.name%> on <%=show.air_day%>s at <%=show.air_time%></h6>
    <p>Genre: <%= show.genre.name %></p>
    <p>Rating: <%= show.ratings %></p>
    <div class="stars">
      <form action="/show/<%= show.id%>/rating" method='post'>
        <input type='hidden' name='_method' value='put'>
        <input class="star star-1" id="star-1" type="radio" name="star[1]"/>
        <label class="star star-1" for="star-1"></label>
        <input class="star star-2" id="star-2" type="radio" name="star[2]"/>
        <label class="star star-2" for="star-2"></label>
        <input class="star star-3" id="star-3" type="radio" name="star[3]"/>
        <label class="star star-3" for="star-3"></label>
        <input class="star star-4" id="star-4" type="radio" name="star[4]"/>
        <label class="star star-4" for="star-4"></label>
        <input class="star star-5" id="star-5" type="radio" name="star[5]"/>
        <label class="star star-5" for="star-5"></label>
        <input class="btn btn-primary btn-lg fr" type='submit' name='rating' value='Add Rating'>
      </form>
      <%if user_id%>
        <% if user.shows.where(id: show.id).count != 0 %>
          <form class="show-add" action="/users/:id" method="post">
            <input type='hidden' name='_method' value='delete'>
            <input class="btn btn-primary btn-lg fr" type='submit' name='show[<%= show.id%>]' value='Delete from my shows'>
          </form>
        <%else%>
          <form class="show-add" action="/users/:id" method="post">
            <input type='hidden' name='_method' value='put'>
            <input class="btn btn-primary btn-lg fr" type='submit' name='show[<%= show.id%>]' value='Add to my shows'>
          </form>
        <%end%>
      <%end%>
    </div>
  </div>

  <div class="show-right">
    <img class="show-image" src="<%= show.photo %>" />
  </div>
</div>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">Comments</h2>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <% show.comments.each do |blurb| %>
          <li class="list-group-item">
            <%= blurb.comment %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Compose Comment</h3>
    </div>
    <div class="panel-body">
      <form action="/shows/new" method="post">
        <input type='hidden' name='_method' value='put'>
        <textarea class="form-control" name='comment' placeholder='Write your comment here' rows='4'></textarea>
        <input class="btn btn-primary btn-lg" type="submit" name='show[<%= show.id%>]' value="Comment">
      </form>
    </div>
  </div>
</div>
